.color_gradient_text{
    text-align:center;
    background-image: repeating-linear-gradient(45deg,#0000FF,#FF69B4);
    background-size: 100%;
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block;
}

.home_title{
    color: orange;
}

.header_content{
    text-align: center;
}


.vl {
    border-left: 1px dashed grey;
    height: 100%;
    position: absolute;
    left: 20%;
    margin-left: -3px;
    top: 0;
    pointer-events: none;
  }

  .vl {
    border-right: 1px dashed grey;
    height: 100%;
    position: absolute;
    right: 20%;
    margin-right: -3px;
    top: 0;
  }


  .main_body{
    margin-left:22%;
    margin-right:22%;
    display: block;


  }


  .profile_image{
    width: 40%;
    height:auto;
    margin:2%;
  }

  .margin{
    margin-left: 10%;
    position: relative;
  }

  footer{
    text-align: center;
    margin: 2rem auto;
    width: 65%;
    padding: 2%;
    background-image: linear-gradient(to bottom, white,whitesmoke );
    border-radius: 15px;
    position: relative;
  }

  @media (max-width: 768px) {
    .vl{
      border-left:0px ;
    }
    .vl{
      border-right:0px ;
    }
    .main_body{
      margin-left: 10%;
      margin-right: 10%;

    }
    footer {
        width: 80%;
        margin: 2rem auto;
    }
  }
  .social-links {
    margin-top: 20px;
    font-size: 24px;
}
.social-links a {
    text-decoration: none;
    margin-right: 15px;
    color: inherit;
}
.social-links a:hover {
    opacity: 0.7;
    color: inherit;
}