.color_gradient_text{
    text-align:center;
    background-image: repeating-linear-gradient(45deg,#0000FF,#FF69B4);
    background-size: 100%;
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block;
}

.home_title{
    color: orange;
}

.header_content{
    text-align: center;
}

.vl {
    border-left: 1px dashed grey;
    height: 100%;
    position: absolute;
    left: 20%;
    margin-left: -3px;
    top: 0;
  }

  .vl {
    border-right: 1px dashed grey;
    height: 100%;
    position: absolute;
    right: 20%;
    margin-right: -3px;
    top: 0;
  }

  .main_body{
    margin-left:22%;
    margin-right:22%;

  }

  .profile_image{
    width: 40%;
    height:auto;
  }

  .margin{
    margin-left: 10%;
  }